@import '../../../colors.scss';

.form {
    * {
      font-family: 'PT Sans', sans-serif;
    }
  
    .form__field {
      display: flex;
      flex-direction: column;
      margin: 7px 0 13px 0;
  
      &.field__error {
        .field__input {
          border-color: $primary_color;
    
          &:focus, &:active {
            border-color: $primary_color;
            -webkit-box-shadow: 10px 10px 5px 0px #f8d6da;
            -moz-box-shadow: 10px 10px 5px 0px #f8d6da;
            box-shadow: 0 0 0px 3px #f8d6da;
          }
        }
    
        .field__assistive {
          color: $primary_color;
        }
      }
  
      .field__file {
        width: 100%;
        position: relative;
        border: 1px solid #ced4da;
        border-radius: 4px;
        overflow: hidden;
        height: 38px;
  
        .field__input {
          opacity: 0;
          z-index: 3;
          width: 100%;
        }
  
        .field__file_browser{
          &:after {
            content: attr(value);
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translate(0, -50%);
            color: #b2b9c0;
          }
  
          &:before {
            content: 'Browse';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            color: $text_color;
            background-color: #f8f7f5;
            border-left: 1px solid #ced4da;
            padding: 10px 15.5px 10px 15.5px;
            font-size: 16px;
          }
        }
  
        &.text {
          .field__file_browser {
            &:after {
             color: black;
            }
          }
        }
      }
  
      .field__input {
        height: 38px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 0 12px;
        font-size: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
  
        &:focus, &:active {
          border-color: #80bdff;
          -webkit-box-shadow: 10px 10px 5px 0px #e6f2ff;
          -moz-box-shadow: 10px 10px 5px 0px #e6f2ff;
          box-shadow: 0 0 0px 3px #e6f2ff;
        }
      }
  
      .field__title {
        color: $headline_color;
        line-height: 39px;
      }
  
      .field__assistive {
        color: #6c757d;
        font-size: 12px;
        padding: 7px 0 0 0;
      }
  
      .field__radio {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 7px 0 -1px 0;
        width: fit-content;
        width: -moz-fit-content;
  
        &:last-child {
          margin-bottom: -4px;
        }
  
        input {
          margin: 0 9px 0 0;
          width: 16px;
          height: 16px;
        }
      }
  
  
      input::placeholder {
        color: #b2b9c0;
      }
    }
    
    .form__send {
      margin: 41px auto 0 auto;
    }
  }