@import './colors.scss';

// GLOBAL STYLES

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #4b5a67;
  margin: 0 auto;
  max-width: 2560px;
}

#loading {
  &:after {
    content: "Loading...";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f3;
    color: $text_color;
    margin: 0 auto;
    max-width: 1170px;
    box-sizing: border-box;
  }
}

#wrapper {
  padding-top: 60px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  min-width: 360px;
  padding: 0 30px;
}

section {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

// ADAPTIVE STYLES

@media (min-width: 769px) {
  .only_tablet {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .only_desktop {
    display: none !important;
  }
}

@media (max-width: 480px) {
  #wrapper {
    padding-top: 40px;
  }

  .only_mobile {
    display: none !important;
  }
}


// TEXT STYLES

.h1 {
  color: $headline_color;
  margin: 0;
  font-size: 50px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: -0.8px;
}

.h2 {
  color: $headline_color;
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.p1 {
  color: $text_color;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .h1 {
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width: 480px) {
  .h1 {
    font-size: 30px;
    line-height: 34px;
  }
}


// BUTTON STYLES

.button_primary {
  display: block;
  width: 100%;
  max-width: 210px;
  background-color: $primary_color;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 10px;
  text-align: center;
  border-radius: 4px;
  border: 0;

  &:hover {
    background-color: $primary_color_active;
  }

  &.disabled {
    pointer-events: none;
    color: #8d8c8c;
    background-color: #d7d7d7;
  }
}

.flat_button {
  display: block;
  font-weight: 600;
  outline: none;
  border: 0;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: $primary_color;

  &:hover {
    color: $primary_color_active;
  }
}