@import '../../colors.scss';

// MAIN SECTION

.main {
    background-color: #1b4a8a;
    padding: 106.5px 30px;

    .h1 {
        letter-spacing: -0.8px; //PIXEL_PERFECT
    }

    .main__headline {
        color: #fff;
        text-transform: uppercase;
    }

    .main__text {
        color: #fff;
        max-width: 530px;
        padding: 25px 0 34px 0;
    }

    .button_primary {
        margin: 0 0 8px 0; //PIXEL_PERFECT
    }
}

@media (max-width: 768px) {
    .main {
        padding: 71.5px 30px;
    }
}

@media (max-width: 480px) {
    .main {
        padding: 75px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


// LETS GET SECTION

.acquaintance {
    background-color: $background_color;
    padding: 149px 30px 152px 30px;
    align-items: center;

    .h1 {
        padding-top: 3px; //PIXEL_PERFECT
        letter-spacing: -0.8px; //PIXEL_PERFECT
    }

    .acquaintance__content {
        width: 100%;
        display: flex;
        padding-top: 67px; //PIXEL_PERFECT NORMALY 70

        .acquaintance__image {
            display: flex;
            height: 296px; //PIXEL_PERFECT 285
            padding: 5px 50px 5px 25px; //PIXEL_PERFECT NORMALY 0 50 0 25

            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }

        .acquaintance__text {
            flex: 1;

            .h2 {
                padding-bottom: 20px; //PIXEL_PERFECT NORMALY 24
            }

            .p1 {
                padding-bottom: 24px;
                text-align: justify;
            }

            .flat_button {
                padding-top: 6px; //PIXEL_PERFECT
            }
        }
    }
}

@media (max-width: 768px) {
    .acquaintance {
        padding: 112.5px 30px;

        .acquaintance__content {
            
            .acquaintance__image {
                height: 217px;
                padding: 5px 30px;
            }
        }
    }
}

@media (max-width: 480px) {
    .acquaintance {
        padding: 70px 15px;
        
        .acquaintance__content {
            flex-direction: column;
            padding: 0;

            .acquaintance__image {
                height: auto;
                width: 100%;
                padding: 30px 20px;
            }

            .acquaintance__text {
                flex: 1 1;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}


// USERS SECTION

.users {
    background-color: $background_color2;
    padding: 149px 30px 160px 30px;
    align-items: center;

    .users__text {
        text-align: center;

        .h1 {
            padding: 3px 0 0 0; //PIXEL_PERFECT
        }

        .p1 {
            padding: 16px 0;
        }
    }

    .users__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 0 44px 0;

        .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: (100% / 3);
            text-align: center;
            padding: 60px 0 0 0;

            .user__container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 216px;
                margin: 0 auto;

                .p1 {
                    width: 100%;
                    line-height: 24px;
                }

                .user__image {
                    width: 74px;
                    height: 74px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                    img {
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .user__name {
                    padding: 13px 0 10px 0;
                    word-break: break-all;
                }

                .user__email {
                    position: relative;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding: 0 0 6px 0;
                    cursor: pointer;
                }

                .user__phone {
                    line-height: 12px;
                    word-break: break-all;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .users {
        padding: 121px 30px;
    }
}

@media (max-width: 480px) {
    .users {
        padding: 70px 15px 80px 15px;

        .users__list {
            .user {
                width: 100%;
            }
        }
    }
}

// REGISTER SECTION

.register {
    background-color: #fff;
    align-items: center;
    padding: 152px 30px 160px 30px;

    .register__min_container {
        width: 100%;
        max-width: 467px;

        .register__title {
            text-align: center;
            padding: 15px 0;
        }
    }
}

@media (max-width: 768px) {
    .register {
        padding: 118px 30px;
    }
}

@media (max-width: 480px) {
    .register {
        padding: 75px 15px 80px 15px;
    }
}